.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #b9dde7;
  width: 100%;
  
}

.links{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px;

}

a{
  margin: 10px;
}

.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  text-align: left;
  display: block;
}

.create h1{
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
}

.create input .create textarea .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background: red;
  color: white;
}